# HuggingFace Datasets

HuggingFace provides the ability to interact with datasets dinamically.  There is not need to pre-download large models and include them in a repository like this one.

In [1]:
from datasets import load_dataset
from huggingface_hub import list_datasets

## Explroe available datasets

In [2]:
available = list_datasets()

In [3]:
next(available)

DatasetInfo(id='fka/awesome-chatgpt-prompts', author='fka', sha='68ba7694e23014788dcc8ab5afe613824f45a05c', created_at=datetime.datetime(2022, 12, 13, 23, 47, 45, tzinfo=datetime.timezone.utc), last_modified=datetime.datetime(2025, 1, 6, 0, 2, 53, tzinfo=datetime.timezone.utc), private=False, gated=False, disabled=False, downloads=48859, downloads_all_time=None, likes=9130, paperswithcode_id=None, tags=['task_categories:question-answering', 'license:cc0-1.0', 'size_categories:n<1K', 'format:csv', 'modality:text', 'library:datasets', 'library:pandas', 'library:mlcroissant', 'library:polars', 'region:us', 'ChatGPT'], trending_score=62, card_data=None, siblings=None, xet_enabled=None)

In [4]:
for i, ds in enumerate(list_datasets(search="imdb")):
    print(ds.id)
    if i == 5:
        break

stanfordnlp/imdb
jquigl/imdb-genres
mirfan899/imdb_urdu_reviews
Lucylulu/imdb
Recognai/imdb_spacy-ner
SetFit/imdb

## Load datasets dynamically passing the name

In [5]:
movie_rationales = load_dataset("movie_rationales")

/home/landneyker/.local/lib/python3.10/site-packages/datasets/load.py:1486: FutureWarning: The repository for movie_rationales contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/movie_rationales
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(

In [6]:
movie_rationales

DatasetDict({
    train: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 1600
    })
    validation: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 200
    })
    test: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 199
    })
})

Checking train split:

In [7]:
train = movie_rationales["train"]

In [8]:
train

Dataset({
    features: ['review', 'label', 'evidences'],
    num_rows: 1600
})

## Train dataset to Pandas

In [9]:
df = train.to_pandas()

In [11]:
df.head()

,review,label,evidences
0,"plot : two teen couples go to a church party ,...",0,"[mind - fuck movie, the sad part is, downshift..."
1,the happy bastard 's quick movie review damn\n...,0,"[it 's pretty much a sunken ship, sutherland i..."
2,it is movies like these that make a jaded movi...,0,[the characters and acting is nothing spectacu...
3,""" quest for camelot "" is warner bros . '\nfirs...",0,"[dead on arrival, the characters stink, subpar..."
4,synopsis : a mentally unstable man undergoing ...,0,"[it is highly derivative and somewhat boring, ..."

In [12]:
df.describe()

             label
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000