## Writing data from Pandas Dataframes

Once data is loaded in a `Dataframe` object in Pandas, you have the ability to transform that data to various different formats including the clipboard. Most destinations will require a path on the filesystem for writing the output.

### Start with a Dataframe
Remember, you have to have a `Dataframe` already to export data. The `pd` class will not allow you to export from it.

In [1]:
import pandas as pd
df = pd.read_csv("world-championship-qualifier.csv")
df

    Rank                    Name     Nationality      Result    Notes Group
0    1.0           Svatoslav Ton  Czech Republic        2.14        q     A
1    1.0            Toni Huikuri        Finlandi        2.14        q     A
2    1.0          James Brierley  United Kingdom        2.14        q     A
3    1.0           Noriyasu Arai           Japan        2.14        q     A
4    5.0         Yannick Tregaro          Sweden        2.14        q     A
5    5.0       Dejan Vreljakovic              FR  Yugoslavia  2.14\tq     A
6    7.0            Alfredo Deza            Peru        2.10      NaN     A
7    8.0         Vagner Principe          Brazil        2.10      NaN     A
8    9.0  Alberto Juantorena Jr.            Cuba        2.10      NaN     A
9   10.0         Marcin Kaczocha          Poland        2.10      NaN     A
10  11.0         Andrey Krasulya         Ukraine        2.05      NaN     A
11  12.0            David Larsen   United States        2.05      NaN     A
12  13.0          Ronald Garlett       Australia        2.00      NaN     A
13  13.0           Oleg Prokopov         Belarus        2.00      NaN     A
14  15.0         Felipe Apablaza           Chile        2.00      NaN     A
15  16.0     Luis Soto Caballero     Puerto Rico        2.00      NaN     A
16   NaN            Zoltán Akacz         Hungary          NH      NaN     A
17   1.0            Mark Boswell          Canada        2.14        q     B
18   1.0          Ben Challenger  United Kingdom        2.14        q     B
19   1.0            Roman Fricke         Germany        2.14        q     B
20   1.0          Tivadar Kovács         Hungary        2.14        q     B
21   1.0             Dave Furman   United States        2.14        q     B
22   6.0      François Potgieter    South Africa        2.14        q     B
23   7.0             Sauli Niemi         Finland        2.10      NaN     B
24   7.0    Katsuyoshi Miyamichi           Japan        2.10      NaN     B
25   9.0           Marat Rakipov          Russia        2.10      NaN     B
26  10.0              Adi Mordel          Israel        2.10      NaN     B
27  11.0         Fabrício Romero          Brazil        2.10      NaN     B
28  12.0      Abderahmane Hammad         Algeria        2.05      NaN     B
29  12.0              Luke Temme       Australia        2.05      NaN     B
30  14.0       Aleksey Lesnichiy         Belarus        2.05      NaN     B
31  15.0            Ha Chung-Soo     South Korea        2.00      NaN     B
32  16.0           Dejan Dokleja         Croatia        2.00      NaN     B
33   NaN           Fawzi Warsame         Somalia          NH      NaN     B

## Write to many other destinations
The destinations are from a `Dataframe` object itself, not from the `pd` object.

Including the clipboard!

 - to_clipboard
 - to_csv
 - to_dict
 - to_excel
 - to_feather
 - to_gbq
 - to_hdf
 - to_html
 - to_json
 - to_latex
 - to_markdown
 - to_numpy
 - to_parquet
 - to_period
 - to_pickle
 - to_records
 - to_sql
 - to_stata
 - to_string
 - to_timestamp
 - to_xarray
 - to_xml

In [2]:
# export a dataset to HTML
df.to_html("dataset.html")

## Copy/Paste into other formats
This flexibility of Pandas to allow you to read and write to many different formats and destinations can be used to create quick utilities like transforming a CSV file to paste to Excel or Markdown

In [3]:
!pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in /home/landneyker/.local/lib/python3.10/site-packages (0.9.0)

In [ ]:
# to markdown and then to clipboard
# this needs tabulate dependency
from pandas.io.clipboards import to_clipboard
md = df.to_markdown()
to_clipboard(md, excel=False)